<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JB2.Common.Color" version="0.2.0.1" targetFramework="net452" />
  <package id="JB2.Common.Core" version="0.4.20.2" targetFramework="net452" />
  <package id="JB2.Common.Utility" version="0.2.0" targetFramework="net452" />
  <package id="JB2.Sprog.Core" version="0.3.2.1" targetFramework="net452" />
  <package id="JB2.Sprog.Weather" version="0.1.1" targetFramework="net452" />
</packages>