<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JB2.Color" version="0.2.0" targetFramework="net452" />
  <package id="JB2.Common.Core" version="0.3.17" targetFramework="net452" />
  <package id="JB2.Common.Utility" version="0.2.0" targetFramework="net452" />
  <package id="JB2.RNG" version="1.2.0" targetFramework="net452" />
</packages>